# Machine Learning

### Exercise 001

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
df = pd.read_csv('001 (Practice).csv')
df.head(3)

   year          pci
0  1970  3399.299037
1  1971  3768.297935
2  1972  4251.175484

In [6]:
reg = linear_model.LinearRegression()
reg.fit(df[['year']], df.pci)

LinearRegression()

In [7]:
reg.predict([[2020]])

array([41288.69409442])