# Machine Learning

### Multiple Regression

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv('homeprice2.csv', na)
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [7]:
# Handle NaN for bedroom
df.bedroom.fillna(df.bedroom.median()//1, inplace=True)
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.0   18  610000
3  3600      3.0   30  595000
4  4000      5.0    8  760000

In [9]:
reg = linear_model.LinearRegression()
reg.fit(df[['area', 'bedroom', 'age']], df.price)

LinearRegression()

In [11]:
reg.coef_, reg.intercept_

(array([   137.25, -26025.  ,  -6825.  ]), 383724.9999999998)

In [14]:
predict1 = reg.predict([[3000, 3, 40]])
predict2 = reg.predict([[2500, 4, 5]])
print(predict1, predict2)

[444400.] [588625.]