# Machine Learning

### Gradient Descent

In [ ]:
import numpy as np
import pandas as pd

In [14]:
def gradient_descent(x, y):
    m_curr = b_curr = 0
    iterations = 1000
    n = len(x)
    learning_rate = 0.001
    
    for i in range(iterations):
        y_predict = (m_curr*x)+b_curr
        md = -(2/n) * sum(x *(y-y_predict))
        bd = -(2/n) * sum(y-y_predict)
        m_curr = m_curr - learning_rate*md
        b_curr = b_curr - learning_rate*bd
        print("m {}, b{}, iteration {}".format(m_curr, b_curr, i))

In [15]:
df = pd.read_csv('003_GD.csv')
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [16]:
X = df.math
Y = df.cs

In [17]:
gradient_descent(X, Y)

56