# Machine Learning

## Decision Tree

In [1]:
import pandas as pd
df = pd.read_csv('009.csv')
df.head(5)

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
X = df.drop('salary_more_then_100k', axis='columns')
y = df['salary_more_then_100k']

### Label Encoding

In [3]:
from sklearn.preprocessing import LabelEncoder
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [4]:
X['company_n'] = le_company.fit_transform(X['company'])
X['job_n'] = le_job.fit_transform(X['job'])
X['degree_n'] = le_degree.fit_transform(X['degree'])
X.drop(['company', 'job', 'degree'], axis='columns', inplace=True)

In [9]:
X

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

#### Dataset Split

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.1)

### Model Training 
> Decision Tree

In [6]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(X_train, y_train)

DecisionTreeClassifier()

## Predictions

In [7]:
model.score(X_test, y_test)

0.5

In [8]:
X_test

    company_n  job_n  degree_n
1           2      2         1
12          1      0         0

In [10]:
model.predict(X_test)

array([1, 1], dtype=int64)